#LOGIN_PAGE {
  background-image: url("../../images/login-background.jpg") !important;
  background-blend-mode: normal;
  width: 100%;
  height: 100vh;
  main {
    color: white;
    text-align: center;
  }
}
