#DASHBOARD_PAGE {
  height: 100vh;
  main {
    position: absolute;
    top: 0;
    padding: 150px;
    padding-top: 200px;
    display: grid;
    a {
      margin-bottom: 30px;
      color: #b5d3e0;
      text-decoration: none;
      display: flex;
      flex-flow: column;
      align-items: center;
      height: 100%;
      svg {
        width: 6rem;
        height: 6rem;
      }
      &:hover {
        color: #68b1d1;
      }
      span.label {
        font-size: 1.6rem;
        color: white;
      }
    }
  }
}
